<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <div>
            <p>ID</p>
            <input type="text" name="user_id" class="form-input" placeholder="Your account's ID">
        </div>
        <div style="float: left; width: 3%; height: 1px;"></div>
        <div>
            <p>Password</p>
            <input type="password" name="user_pw" class="form-input" placeholder="Your account's PW">
        </div>
        <div>
            <input type="submit" value="Send" style="width: 30%; margin-top: 20px;">
        </div>
    </form>
    <p><a href="/">[main]</a></p>
</body>
</html>
