<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up Page.</h1>
    <form action="/sign_up" method="POST">
        <div>
            <p>Your name (in eng)</p>
            <input type="text" name="user_id" class="form-input" placeholder="Your account's ID">
        </div>
        <div style="float: left; width: 3%; height: 1px;"></div>
        <div>
            <p>Password</p>
            <input type="password" name="user_pw" class="form-input" placeholder="Your account's PW">
        </div>
        <div style="float: left; width: 70%;">
            <input type="checkbox" id="sub" name="is_admin">
            <label for="sub">Inquire admin authority</label>
        </div>
        <div>
            <input type="submit" value="Send" style="width: 30%; margin-top: 20px;">
        </div>
    </form>
    <p><a href="/">[main]</a></p>
    <p><a href="/login">[login]</a></p>
</body>
</html>
